<p>
    Has oblidat la teva contrasenya d'“Up me Up!”? No et preocupis! Clica a l'enllaç de sota per restablir-la:
</p>
<p>
    <a href="{{ resetUrl }}">{{ resetUrl }}</a>
</p>
<p>
    Si no has sol·licitat un canvi de contrasenya, ignora aquest correu.
</p>
<p>
    Gràcies,
    L'equip d'“Up me Up!”
</p>
